<footer class="foot">
    <div class="foot_container">
        <div class="logo_">
            <img src="/logo/logo.png" alt="">
        </div>
        <div class="foot_sec">
            <div class="foot1">
                <ul class="foot_item">
                    <li class="foot_head">Blogs</li>
                    <li class="foot_link">Education</li>
                    <li class="foot_link">Travel</li>
                    <li class="foot_link">Fashion</li>
                    <li class="foot_link">Art</li>
                    <li class="foot_link">Health</li>
                    <li class="foot_link">Technology</li>
                    <li class="foot_link">Life style</li>
                    <li class="foot_link">Relationship</li>
                </ul>
                <ul class="foot_item">
                    <li class="foot_head">Company</li>
                    <li class="foot_link">About us</li>
                    <li class="foot_link">Contact us</li>
                    <li class="foot_link">Support</li>
                    <li class="foot_link">Privacy policy </li>
                </ul>
                <ul class="foot_item">
                    <li class="foot_head">Join us</li>
                    <li class="foot_link">Login</li>
                    <li class="foot_link">Register</li>
                    <li class="foot_link">Feedback</li>

                </ul>
            </div>
            <div class="foot2">
                <div class="foot_social">
                    <p class="foot_head">Let's chat</p>
                    <i class="fa-brands fa-facebook-square delta"></i>
                    <i class="fa-brands fa-twitter-square delta"></i>
                    <i class="fa-brands fa-linkedin delta"></i>
                </div>
                <div class="foot_social">
                    <p class="foot_head">Get In Touch</p>
                    <i class="fa-solid fa-phone delta"></i>
                    <i class="fa-solid fa-envelope-open delta"></i>
                    <i class="fa-brands fa-google-plus delta"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/javascript/all.js"></script>
</body>

</html>