    <title>
        <%= title %>
    </title>
</head>

<body>

    <nav class="navbar">
         <!-- <header class="header"> -->
            <!-- <div class="logo_">
                <img src="/logo/logo.png" alt="">
            </div> -->
            <!-- <div class="form_"> -->
                <!-- <div class="social_">
                    <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"> <i class="fa-brands fa-instagram"></i></a>
                    <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                </div> -->
                <!-- <form action="#" method="get">
                    <input type="search">
                    <button type="submit"> <i class="fa-solid fa-magnifying-glass"></i></button>

                </form> -->
            <!-- </div>
        </header> -->
        <div class="nav">
            <div class="logo_"> <!-- replaced-->
               <a href="/home"> <img src="/logo/logo.png" alt=""></a>
            </div>
            <ul class="nav_item d_flx font1">
                <li class="nav_link"><a href="/"><i class="fa-solid fa-house-chimney"></i></a> </li>
                <li class="nav_link"><a href="/blog">Blog</a> </li>
                <li class="nav_link"><a href="/about">About</a> </li>
                <li class="nav_link"><a href="/contact">Contact</a> </li>
            </ul>
            <a href="/login" class="btn_nav btn_log font1">Login</a>
            <a href="/registration" class="btn_nav btn_reg font1">Register</a>
        </div>
    </nav>