
            /* text styling */
            /* font-family: 'Baloo Bhaina 2', cursive;
            font-family: 'Dancing Script', cursive;
            font-family: 'Merriweather', serif;
            font-family: 'Baloo 2', cursive */
            .head_hm{
                padding: 0;
                margin: 0;
                color: wheat;
                font-family:'Merriweather', serif;
            }
            .head_hm2{
                color: pink;
                font-size: 25px;
                font-weight: 600;
                font-family:'Baloo 2', cursive;
            }
            .txt_hm{
                margin: 0;
                line-height: 20px;
                font-family:'Baloo Bhaina 2', cursive ;
            }
            .back_clr{
                color: white;
            }
            .bold_{
                font-family: 'Merriweather', serif ;
                color: pink;
                font-size: 20px;
                font-weight: 900;
                margin: 8px 2px;
            }

            .small_{
                color: white;
            }

            

            /*              */
            .container_hm{
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                background: url('/images/home.jpg')no-repeat center center/cover;
                height: 80vh;
            }

            .layer_hm{
                position: relative;
                display: flex;
                width: 100%;
                height: 100%;
                top: 0;
               align-items: center;
               justify-content: center;
               background-color:rgba(14, 17, 16, 0.598);
            }

            .main_hm, .bg_hm{
                display: flex;
                align-items: flex-start;
               justify-content:center;
               flex-direction: column;
              
            }
            
            /* button styling */
            .btn_hm{
                padding: 4px 14px;
                border: 1px solid white;
                color: white;
                background:inherit;
                margin: 5px 1px;
                border-radius: 13px;
                cursor: pointer;
                transition: .6s;
              
            }
            .btn_sec{
                background-color: white;
                color: black;
                transition: .6s;
            }
            .btn_hm:hover{
                transition: .6s all ease-out;
                color: black;
                background-color: white;
            }
            /* ************* */
            /* section -1  */
            .sec_2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-direction: column;
            }

            .head_text {
                padding: 0;
                margin: 0;
                font-size: 40px;
                font-family: 'Baloo Bhaina 2', cursive;


            }

            .posts_bx {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;
            }

            .post,
            .post_rv {
                width: 25%;
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: center;
                margin: 4px 5px;
                transition: .4s;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            }

            .post_rv:hover,
            .post:hover {
                transform: translateY(-10px);
            }

            .post {
                flex-direction: column;
            }

            .post_rv {
                flex-direction: column-reverse;
            }

            .post_intro {
                width: 70%;
                text-align: center;
            }

            .post_img {

                width: 100%;
                height: 240px;
            }

            .post_img img {
                width: 100%;
                transition: .4s;
                height: 100%;
            }

            .sec_3 {
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                flex-wrap: wrap;
            }

            .rc_post {
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 3px 5px;
                flex-direction: column;
            }

            .rc_content {
                margin: 8px 5px;
                width: 100%;
            }

            .rc_item {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            .rc_mg {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .rc_mg img {
                width: 70%;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            }


            .rc_tag {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
            }


            .rc_date {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
            }
            .date{
                color: brown;
                margin: 0px 10px;
                font-weight: 600;
                font-family: 'Baloo 2', cursive;
            }
            /* *********************************8 */
           
            