
            /* text styling */
            /* font-family: 'Baloo Bhaina 2', cursive;
            font-family: 'Dancing Script', cursive;
            font-family: 'Merriweather', serif;
            font-family: 'Baloo 2', cursive */
            .head_hm{
                padding: 0;
                margin: 0;
                color: wheat;
                font-family:'Merriweather', serif;
            }
            .head_hm2{
                color: pink;
                font-size: 25px;
                font-weight: 600;
                font-family:'Baloo 2', cursive;
            }
            .txt_hm{
                margin: 0;
                line-height: 20px;
                font-family:'Baloo Bhaina 2', cursive ;
            }
            .back_clr{
                color: white;
            }
            .bold_{
                font-family: 'Merriweather', serif ;
                color: pink;
                font-size: 20px;
                font-weight: 900;
                margin: 8px 2px;
            }

            .small_{
                color: white;
            }

            

            /*              */
            .container_hm{
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                background: url('/images/home.jpg')no-repeat center center/cover;
                height: 80vh;
            }

            .layer_hm{
                position: relative;
                display: flex;
                width: 100%;
                height: 100%;
                top: 0;
               align-items: center;
               justify-content: center;
               background-color:rgba(14, 17, 16, 0.598);
            }

            .main_hm, .bg_hm{
                display: flex;
                align-items: flex-start;
               justify-content:center;
               flex-direction: column;
              
            }
            
            /* button styling */
            .btn_hm{
                padding: 4px 14px;
                border: 1px solid white;
                color: white;
                background:inherit;
                margin: 5px 1px;
                border-radius: 13px;
                cursor: pointer;
                transition: .6s;
            }
            .btn_sec{
                background-color: white;
                color: black;
                transition: .6s;
            }
            .btn_hm:hover{
                transition: .6s all ease-out;
                color: black;
                background-color: white;
            }
            /* ************* */
           
            