<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/style/blog.css">
<%- include('./partials/navbar.ejs') %>
    <div class="main_container">
        <div class="bg_container">
            <div class="layer">
                <p class="head_">The only things you absolutely have to know is the<br> location of library.</p>
                <p class="airticle">Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br> Libero vitae
                    distinctio et
                    natus delectus nisi<br> quis laboriosam recusandae quo ipsa?</p>
                <button class="main_btn">Explore</button>
            </div>
        </div>
        <h1 class="head_ heading_">Latest Blog from all Categories</h1>
        <div class="sec_container">
            <div class="material">
                <div class="item_box" id="techno">
                    <a href="/blog/technology">
                        <div class="mat_layer">
                            <p class="hd_txt">Technology</p>
                        </div>
                    </a>
                </div>
                <div class="item_box" id="fashion">
                    <a href="/blog/fashion">
                        <div class="mat_layer">
                            <p class="hd_txt">Fashion</p>
                        </div>
                    </a>
                </div>
                <div class="item_box" id="art">
                    <a href="/blog/art">
                        <div class="mat_layer">
                            <p class="hd_txt">Art</p>
                        </div>
                    </a>
                </div>
                <div class="item_box" id="travel">
                    <a href="/blog/travel">
                        <div class="mat_layer">
                            <p class="hd_txt">Travel</p>
                        </div>
                    </a>
                </div>
                <div class="item_box" id="life">
                    <a href="/blog/lifestyle">
                        <div class="mat_layer">
                            <p class="hd_txt">Lifestyle</p>
                        </div>
                    </a>
                </div>
                <div class="item_box" id="relation">
                    <a href="/blog/relationship">
                        <div class="mat_layer">
                            <p class="hd_txt">Relationship</p>
                        </div>
                    </a>
                </div>
                <div class="item_box" id="health">
                    <a href="/blog/health">
                        <div class="mat_layer">
                            <p class="hd_txt">Health</p>
                        </div>
                    </a>
                </div>
                <div class="item_box" id="edu">
                    <a href="/blog/education">
                        <div class="mat_layer">
                            <p class="hd_txt">Education</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- <div class="list_item"></div> -->
        </div>
    </div>


    <%- include('./partials/footer.ejs') %>