<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/style/home.css">
    <%- include('./partials/navbar.ejs') %>
        <div class="container_hm">
            <div class="layer_hm">
                <div class="main_hm">
                    <h1 class="head_hm">A place where we learn how to live, here you find<br> everythings about..</h1>
                    <p class="head_hm2">Art, Fashion, Technology, Lifestyle and many more</p>
                    <p class="txt_hm back_clr">Lorem ipsum dolor amet consecteturadipisicing elit.<br> Quaerat debitis
                        temporibus, nulla molestias</p>

                    <div class="">
                        <button class="btn_hm">Explore</button>
                        <button class="btn_hm btn_sec">Let's read</button>
                    </div>
                </div>
            </div>
        </div>

        <section class="sec_2">
            <h1 class="head_text">Recent Posts...</h1>
            <p class="txt_hm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, maxime in adipisci quo
                possimus iusto. Expedita sequi, vitae deserunt officia nulla quisquam dolor illum animi.</p>

            <div class="posts_bx">
                <div class="post">
                    <div class="post_img">
                        <img src="/images/travel.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">Things you have to keep in your mind while travelling.
                        </h1>
                        <p class="txt_hm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias expedita
                            blanditiis consequatur magni eos aspernatur. Quam tempora possimus dicta quisquam voluptate
                            natus aspernatur! Eaque necessitatibus reprehenderit neque unde ex dolore!</p>
                    </div>
                </div>
                <div class="post_rv">
                    <div class="post_img">
                        <img src="/images/education.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">Why India suffering educational un-uniformity?
                        </h1>
                        <p class="txt_hm">Lorem sit amet consectetur adipisicing elit. Alias expedita
                            quisquam voluptate natus aspernatur! Eaque necessitatibus reprehenderit neque unde ex
                            dolore!</p>
                    </div>
                </div>
                <div class="post">
                    <div class="post_img">
                        <img src="/images/relation.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">Create Meaningful Family Moments.
                        </h1>
                        <p class="txt_hm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias expedita
                            blanditiis consequatur magni eos aspernatur. Quam tempora possimus dicta quisquam voluptate
                            natus aspernatur! Eaque necessitatibus reprehenderit neque unde ex dolore!</p>
                    </div>
                </div>
                <div class="post_rv">
                    <div class="post_img">
                        <img src="/images/health.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">
                            10 Interesting Facts About Caffeine.
                        </h1>
                        <p class="txt_hm">Lorem sit amet consectetur adipisicing elit. Alias expedita
                            quisquam voluptate natus aspernatur! Eaque necessitatibus reprehenderit neque unde ex
                            dolore!</p>
                    </div>
                </div>
                <div class="post">
                    <div class="post_img">
                        <img src="/images/art.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">Workspace Design Trends and Ideas.
                        </h1>
                        <p class="txt_hm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias expedita
                            blanditiis consequatur magni eos aspernatur. Quam tempora possimus dicta quisquam voluptate
                            natus aspernatur! Eaque necessitatibus reprehenderit neque unde ex dolore!</p>
                    </div>
                </div>
                <div class="post_rv">
                    <div class="post_img">
                        <img src="/images/techno.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">5G: The ultraspeed networking decade, the advantage and disadvantage.
                        </h1>
                        <p class="txt_hm">Lorem sit amet consectetur adipisicing elit. Alias expedita
                            quisquam voluptate natus aspernatur! Eaque necessitatibus reprehenderit neque unde ex
                            dolore!</p>
                    </div>
                </div>
                <div class="post">
                    <div class="post_img">
                        <img src="/images/lifestyle.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">Why life seems to be diffucult than expected?
                        </h1>
                        <p class="txt_hm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias expedita
                            blanditiis consequatur magni eostibus reprehenderit neque unde ex dolore!</p>
                    </div>
                </div>
                <div class="post_rv">
                    <div class="post_img">
                        <img src="/images/Fashion.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">Throwback To The Good Old Days.
                        </h1>
                        <p class="txt_hm">Lorem sit amet consectetur adipisicing elit. Alias expedita
                            quisquam voluptate natus ecessitatibus reprehenderit neque unde ex
                            dolore!</p>
                    </div>
                </div>
            </div>
        </section>
        <hr>

        <!-- tag section & trending posts -->
        <section class="sec_3">
            <div class="rc_post ">
                <h1 class="intro">Trending this week</h1>
                <div class="rc_content">
                    <div class="rc_item">
                        <div class="rc_mg">
                            <img src="/images/fashion.jpg" alt="fashion">
                        </div>
                        <div class="rc_tag ">
                            <div class="rc_date">
                                <i class="fa-solid fa-calendar-days"></i>
                                <i class="date">16 january, 2010</i>
                            </div>
                            <h3 class="txt_rc">Throwback To The Good Old Days.
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="rc_content">
                    <div class="rc_item">
                        <div class="rc_mg">
                            <img src="/images/travel.jpg" alt="#">
                        </div>
                        <div class="rc_tag ">
                            <div class="rc_date">
                                <i class="fa-solid fa-calendar-days"></i>
                                <i class="date">1 may, 2007</i>
                            </div>
                            <h3 class="txt_rc">Things you have to keep in your mind while travelling.
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="rc_content">
                    <div class="rc_item">
                        <div class="rc_mg">
                            <img src="/images/art.jpg" alt="#">
                        </div>
                        <div class="rc_tag ">
                            <div class="rc_date ">
                                <i class="fa-solid fa-calendar-days"></i>
                                <i class="date">6 july, 2009</i>
                            </div>
                            <h3 class="txt_rc">Workspace Design Trends and Ideas.
                                
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="rc_content ">
                    <div class="rc_item ">
                        <div class="rc_mg">
                            <img src="/images/education.jpg" alt="#">
                        </div>
                        <div class="rc_tag ">
                            <div class="rc_date">
                                <i class="fa-solid fa-calendar-days"></i>
                                <i class="date">26 December, 2010</i>
                            </div>
                            <h3 class="txt_rc">
                                Why India suffering educational un-uniformity?
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="other"></div> -->
            <div class="tag_box">
                <h1 class="intro">Tags</h1>

                <div class="tags">
                    <a href="#" class="taglink"><i class="fa-solid fa-tags"></i> Fashion</a>
                    <a href="#" class="taglink"><i class="fa-solid fa-tags"></i> Lifestyle</a>
                    <a href="#" class="taglink"><i class="fa-solid fa-tags"></i> Art</a>
                    <a href="#" class="taglink"><i class="fa-solid fa-tags"></i> Design</a>
                    <a href="#" class="taglink"><i class="fa-solid fa-tags"></i> Health</a>
                    <a href="#" class="taglink"><i class="fa-solid fa-tags"></i> Travel</a>
                    <a href="#" class="taglink"><i class="fa-solid fa-tags"></i> Relation</a>
                    <a href="#" class="taglink"><i class="fa-solid fa-tags"></i> Technology</a>
                    <a href="#" class="taglink"><i class="fa-solid fa-tags"></i> Education</a>
                    <a href="#" class="taglink"><i class="fa-solid fa-tags"></i> Science</a>
                    <a href="#" class="taglink"><i class="fa-solid fa-tags"></i> Social</a>
                    <a href="#" class="taglink"><i class="fa-solid fa-tags"></i> Family</a>
                </div>
            </div>
            <style>
                
            .tag_box{
                width: 20%;
                display: flex;
                align-items: center;
                justify-content:center;
                flex-direction: column;
            }  
            .tags{
                /* border: .3px solid gray; */
                padding: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                height: 30vh;
            }  

            .taglink{
                text-decoration: none;
                color: orangered;
                border: 1px solid brown;
                padding: 2px;
                margin: 0px 5px;
                border-radius: 5px;
                transition: .5s;
            }

            .taglink:hover{
                transition: .5s all ease-in;
                color: white;
                background-color: orangered;
            }
            </style>
        </section>
        <%- include('./partials/footer.ejs') %>