<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/style/home.css">
    <%- include('./partials/navbar.ejs') %>
        <div class="container_hm">
            <div class="layer_hm">
                <div class="main_hm">
                    <h1 class="head_hm">A place where we learn how to live, here you find<br> everythings about..</h1>
                    <p class="head_hm2">Art, Fashion, Technology, Lifestyle and many more</p>
                    <p class="txt_hm back_clr">Lorem ipsum dolor amet consecteturadipisicing elit.<br> Quaerat debitis
                        temporibus, nulla molestias</p>

                    <div class="">
                        <button class="btn_hm">Explore</button>
                        <button class="btn_hm btn_sec">Let's read</button>
                    </div>
                </div>
            </div>
        </div>

        <section class="sec_2">
            <h1 class="head_text">Recent Posts...</h1>
            <p class="txt_hm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, maxime in adipisci quo
                possimus iusto. Expedita sequi, vitae deserunt officia nulla quisquam dolor illum animi.</p>

            <div class="posts_bx">
                <div class="post">
                    <div class="post_img">
                        <img src="/images/travel.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">Things you have to keep in your mind while travelling.
                        </h1>
                        <p class="txt_hm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias expedita
                            blanditiis consequatur magni eos aspernatur. Quam tempora possimus dicta quisquam voluptate
                            natus aspernatur! Eaque necessitatibus reprehenderit neque unde ex dolore!</p>
                    </div>
                </div>
                <div class="post_rv">
                    <div class="post_img">
                        <img src="/images/education.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">Why India suffering educational un-uniformity?
                        </h1>
                        <p class="txt_hm">Lorem sit amet consectetur adipisicing elit. Alias expedita
                            quisquam voluptate natus aspernatur! Eaque necessitatibus reprehenderit neque unde ex
                            dolore!</p>
                    </div>
                </div>
                <div class="post">
                    <div class="post_img">
                        <img src="/images/relation.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">Create Meaningful Family Moments.
                        </h1>
                        <p class="txt_hm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias expedita
                            blanditiis consequatur magni eos aspernatur. Quam tempora possimus dicta quisquam voluptate
                            natus aspernatur! Eaque necessitatibus reprehenderit neque unde ex dolore!</p>
                    </div>
                </div>
                <div class="post_rv">
                    <div class="post_img">
                        <img src="/images/health.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">
                            10 Interesting Facts About Caffeine.
                        </h1>
                        <p class="txt_hm">Lorem sit amet consectetur adipisicing elit. Alias expedita
                            quisquam voluptate natus aspernatur! Eaque necessitatibus reprehenderit neque unde ex
                            dolore!</p>
                    </div>
                </div>
                <div class="post">
                    <div class="post_img">
                        <img src="/images/art.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">Workspace Design Trends and Ideas.
                        </h1>
                        <p class="txt_hm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias expedita
                            blanditiis consequatur magni eos aspernatur. Quam tempora possimus dicta quisquam voluptate
                            natus aspernatur! Eaque necessitatibus reprehenderit neque unde ex dolore!</p>
                    </div>
                </div>
                <div class="post_rv">
                    <div class="post_img">
                        <img src="/images/techno.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">5G: The ultraspeed networking decade, the advantage and disadvantage.
                        </h1>
                        <p class="txt_hm">Lorem sit amet consectetur adipisicing elit. Alias expedita
                            quisquam voluptate natus aspernatur! Eaque necessitatibus reprehenderit neque unde ex
                            dolore!</p>
                    </div>
                </div>
                <div class="post">
                    <div class="post_img">
                        <img src="/images/lifestyle.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">Why life seems to be diffucult than expected?
                        </h1>
                        <p class="txt_hm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias expedita
                            blanditiis consequatur magni eostibus reprehenderit neque unde ex dolore!</p>
                    </div>
                </div>
                <div class="post_rv">
                    <div class="post_img">
                        <img src="/images/Fashion.jpg" alt="blog">
                    </div>
                    <div class="post_intro">
                        <h1 class="intro">Throwback To The Good Old Days.
                        </h1>
                        <p class="txt_hm">Lorem sit amet consectetur adipisicing elit. Alias expedita
                            quisquam voluptate natus ecessitatibus reprehenderit neque unde ex
                            dolore!</p>
                    </div>
                </div>
            </div>
        </section>
        <style>
            .sec_2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-direction: column;
            }

            .head_text {
                padding: 0;
                margin: 0;
                font-size: 40px;
                font-family: 'Baloo Bhaina 2', cursive;


            }

            .posts_bx {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;
            }

            .post,
            .post_rv {
                width: 25%;
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: center;
                margin: 4px 5px;
                transition: .4s;
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
            }

            .post_rv:hover,
            .post:hover {
                box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
            }

            .post {
                flex-direction: column;
            }

            .post_rv {
                flex-direction: column-reverse;
            }

            .post_intro {
                width: 70%;
                text-align: center;
            }

            .post_img {

                width: 100%;
                height: 240px;
            }

            .post_img img {
                width: 100%;
                transition: .4s;
                height: 100%;
            }
        </style>

        <%- include('./partials/footer.ejs') %>