<!-- header -->
<%- include('./partials/header.ejs') %>
<!-- link here -->

<!-- navbar -->
<%- include('./partials/navbar.ejs') %>

<h1 style="text-align: center; color: gray; margin-top: 100px;">This page is under construction.</h1>




<!-- footer -->
<%- include('./partials/footer.ejs') %>